
/* what type of device, (orientation, width, etc. */
@media screen and (max-width: 400px){}

/* child combinator selector:
grabs only the direct children, not the grand-children */
.main-content > p{color: aqua}

/* article selector:
all, but only the p tags */
.myClass h2 + p{color: aqua}

/* attribute selector:
all such tags with such class */
/* for multiple classes with "deck" in the name
and separated by spacebar, use ~ */
p[class~="deck"]{color: aqua}
/* $ for all "href" attributes ending as "pdf" */
a[href$=pdf]{color: aqua}
/* ^ for names starting so */
span[src=^"http"]{}

/* pseude classes: */
a:hover{color: aqua}
a:active{color: aqua}
a:visited{color: aqua}
li:before{content:"\00BB"}/* hex-code */

/* rounded corners
individual corners: start top-left, clockwise */
.box{border-radius: 10px}

/* controllin opacity */
.box{opacity: 0.5}
/* alpha is for opacity */
.box{background: rgba(red, green, blue, 0.5)}

/* shadow: left, below, blur, spread, rgba */
.box{box-shadow: 2px, 2px, 4px, 4px, aqua}