<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- this makes <%= title %> dynamic (open to render by JS)-->
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
</body>

</html>