* {
  margin: 0;
}

.container {
  display: flex;
  background: rgb(255, 214, 42);
  width: 100%;
  height: 200px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}

.item {
  height: 100px;
  width: 100px;
  margin-left: 5px;
  background: rgb(176, 42, 255);
  list-style-type: none;
  flex-flow
}