body {
  margin: 0;
}

.container {
  display: flex;
  background: yellow;
  width: 500px;
  height: 300px;
  justify-content: center;
}

.purple {
  align-self: center;
  background: purple;
  width: 100px;
  height: 100px;
}