<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Cocktails</title>
</head>

<body>
  <h1>Cocktails</h1>

  <ul>
  <%# no '=' in front of the JS code, only before values %>
    <%for(let i= 0; i < cocktails.length; i++){%>
      <li><%=cocktails[i]%></li>
    <%}%>
  </ul>
</body>

</html>