body {
  margin: 0;
}

.container {
  display: flex;
  background: rgb(255, 214, 42);
  width: 500px;
  height: 300px;
  justify-content: center;
}

.purple {
  align-self: center;
  background: rgb(176, 42, 255);
  width: 100px;
  height: 100px;
}