<!DOCTYPE html>
<html lang="en">

<!-- = = = Reddit ejs = = = -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyReddit</title>
  <link rel="stylesheet" href="../assets/style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
</head>

<body>
  <div class="header">
    <p class="main-title">SPACE</p>
  </div>

  <div class="main">
    <div class="content">
      <%for(let i= 0; i < rows.length; i++){%>
      <div class="post">
        <div class="rank">
          <img src="../assets/upvote.png" class="upvote">
          <p class="score"><strong><%=rows[i].score%></strong></p>
          <img src="../assets/downvote.png" class="downwote">
        </div>
        <div class="post-content">
          <p class="post-title"><strong><%=rows[i].title%></strong></p>
          <p class="post-url"><%=rows[i].url%></p>
          <a href="">modify</a>
          <a href="">remove</a>
        </div>
      </div>
      <%}%>
    </div>

    <div class="submit">
      <div id="postBtn">
        <p>SUBMIT NEW POST</p>
      </div>
    </div>

  </div>
  <script src="../assets/frontend.js"></script>
</body>

</html>